
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap');

* {box-sizing: border-box;}

body {
   margin: 0;
   font-family: 'Outfit', sans-serif;
   color: #ebebeb;
   text-align: left;
   margin-left: 10%;
   margin-top: 50px;
   background-image: url("../img/sfondo.jpeg");
   background-size: cover; 
}

#imgLogo {
   width: 150px;
   height: auto;
   padding-bottom: 80px;
}

h1 {
   font-size: 5em;
   max-width: 500px;
}

b {
   font-weight: bold;
}

h3 {
   color: #C2128D;
   font-size: 2em;
   font-weight: bold;
   margin: 40px auto 10px auto;
}

.paragrafo-welcome {
   margin-bottom: 40px;
   max-width: 500px;
}

ul li {
   list-style-type: disc;
}

li {
   margin: 10px;
}

.form-wrapper {
   margin-top: 100px;
}

#checkbox {
   cursor: pointer;
}

.form-wrapper button {
   margin-left: 500px;
   padding: 0.8em 2.5em;
   font-weight: bold;
   font-size: 1.2em;
   background-color: #00FFFF; 
   border: none;
   box-shadow: 0 0 20px #00FFFF;
}